{% extends 'base.html' %} {% block content %}



<div class="card blue-grey lighten-1">
    <div class="card-content white-text">
      <span class="card-title amber-text text-accent-2">{{ exercise.name }}</span>
      <hr>

        <h5>{{ exercise.description }}</h5>
        <h4>{{ exercise.sets }} set(s)</h4>
        <h4>{{ exercise.reps }} rep(s)</h4>
    </div>
  </div>
<a class="btn blue darken-2" href="{% url 'exercises_delete' exercise.id %}">Delete</a>
<a class="btn blue darken-2" href="{% url 'exercises_update' exercise.id %}">Edit</a>

{% endblock %}