{% extends 'base.html' %} {% block content %}

<h1 class="amber-text text-accent-2">All Workouts</h1>

{% if workout_list %} {% for workout in workout_list %}
<a href="{% url 'workouts_detail' workout.id %}">
  <div class="card blue-grey lighten-3">
    <div class="card-content white-text">
      <span class="card-title amber-text text-accent-2"
        >{{ workout.name }}</span
      >
      <p>Location: {{ workout.location }}</p>
    </div>
  </div>
</a>
{% endfor %} {% else %}
<h3>
  <a href="{% url 'workouts_create' %}"> Create a workout</a> to get started!
</h3>
{% endif %} {% endblock %}
