{% extends 'base.html' %} {% block content %}

<h1 class="blue-text darken-2">About Workoutify</h1>

<p>
  Workoutify is the one-stop app for all your workout creation and scheduling
  needs.
</p>
<p>
  Build your workout with custom exercises and add them to your schedule to keep
  you on track of your fitness goals.
</p>

<p>Ever forget you have a workout? Stay on top of it all with Workoutify!</p>

<p>
  Ever need to remember what you need for a specific exercise? Describe it in
  Workoutify!
</p>

<p>
  Ever want to know the weather before you head out to get SWOLE? Stay dry with
  Workoutify (unless you workout in the rain, then great job we're extremely
  proud of you)!
</p>
<br />
<hr />

<div class="row">
  <div class="col s12">
    <img
      class="responsive-img about-image"
      src="https://github.com/CharlesAta/Workoutify/blob/main/GithubImages/Landing-Page.png?raw=true"
    />
  </div>
</div>

<hr />
<br />
<div class="row">
  <div class="col s12">
    <img
      class="responsive-img about-image"
      src="https://github.com/CharlesAta/Workoutify/blob/main/GithubImages/All-Exercises.png?raw=true"
    />
  </div>
</div>

<hr />
<br />
<div class="row">
  <div class="col s12">
    <img
      class="responsive-img about-image"
      src="https://github.com/CharlesAta/Workoutify/blob/main/GithubImages/All-Exercises.png?raw=true"
    />
  </div>
</div>

<hr />
<br />
<div class="row">
  <div class="col s12">
    <img
      class="responsive-img about-image"
      src="https://github.com/CharlesAta/Workoutify/blob/main/GithubImages/Workout.png?raw=true"
    />
  </div>
</div>

<hr />
<br />

<div class="row">
  <div class="col s12 center">
    {% if user.is_authenticated %}
    <a href="{% url 'home' %}"
      ><h3><strong>GET STARTED</strong></h3></a
    >
    {% else %}
    <a href="{% url 'signup' %}"
      ><h3><strong>SIGN UP TODAY</strong></h3></a
    >
    {% endif %}
  </div>
</div>
{% endblock %}
