ul {
  list-style-type: none;
  list-style: none;
}

.card-form label {
    color: white;
    font-size: 1.4rem;  
}

.card-form input, .card-form textarea {
    color: darkblue;   
}

.dropdown-content li > span {
    color: darkblue;
}

.select-wrapper input.select-dropdown:focus {
    border-color: white;
}

#weather-card label {
 color: white;
}